* {
  box-sizing: border-box;
}

body {
  background-color: #e5e1de;
  margin: 0px;
  font-family: "Mulish", sans-serif;
  /*font-family: sans-serif; --- THE ORIGINAL FONT-- */
  /* height: 100vh;*/
}

h1,
h2,
h3,
h4,
p,
div {
  /*  border: 1px solid black; */
  margin: 0;
  color: #422724;
}

p,
li,
label {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

p {
  margin: 0 0 20px 0;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  margin: 0 0 15px 0;
}

h3 {
  font-size: 18px;
}

/*  -------------  navigation links  -------------   */

nav ul {
  display: flex;
  margin: 30px 60px 0 60px;
  /*Location of the NAV*/
  padding: 0;
}

nav li {
  display: inline;
  margin: 0px 0px 0px 0px;
  /*רווח בין הכפתורים/*/
  margin: 0 0 0 15px;
}

nav a {
  display: block;
  padding: 5px 5px 5px 5px;
  /* Just to produce a larger pressing area*/
  text-decoration: none;
}

nav {
  position: fixed;
  /*to stay up*/
  top: 0;
  width: 100%;
}

/* */
nav a:link,
nav a:visited {
  font-weight: 800;
  text-decoration: none;
  color: #422724;
  /*חייב שוב צבע כי הוא ויזיטד*/
}

nav a span {
  background-color: #fcdf03;
}

nav a:hover span {
  background-color: #e5e1de;
  border-bottom: 3px solid #422724;
}

nav h3 {
  margin: 8px 0 0 0;
  /*
  logo be aligned to the menu*/
}

/*   ------------- Main Page -------------   */

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 20px;
  /*requires explicit height*/
  background-color: #e5e1de;
  align-items: center;
  /* Let the elements be centered*/
  display: flex;
  justify-content: center;
  /* margin: 28vh 20vw; */
  padding: 0 0;
  z-index: 0;

  /*I understood that this is how the things related to the buttons should be placed, otherwise there will be problems*/
}

.card:visited {}

.card:link {}



.profile-image {
  /*This is the image inserted using Java*/
  width: 420px;
  margin: -10px -55px 0 0;
}

#index-subline {
  font-family: "Mulish", sans-serif;
  font-size: 29px;
  font-weight: 700;
  margin: -10px 0px 0px 0px;
}

.ul_links {
  padding: 20px 0 0 0;
  list-style: none;
}

.ul_links li span {
  background-color: #d7d0cc;
}

.ul_links li {
  padding-bottom: 10px;
  /* display:inline-block;*/
}

.ul_links {
  display: inline-block;
  min-width: 160px;
  margin: 0;
}

.fa-brands {
  float: left;
  font-size: 22px;
  color: #422724;
  margin: 3px 12px 0px 0px;
}

.card_links:link {
  text-decoration: none;
  /* remove the line under the link*/
  font-weight: 800;
}

.card_links:visited {
  color: #422724;
}

.card_links:hover .outsidelinks {
  background-color: #fcdf03;
}

.card:active h1 {
  animation-name: cardanim2;
  animation-duration: 0.5s;
}

@keyframes cardanim2 {
  0% {
    color: #422724;
  }

  40% {
    color: #a00c0c;
  }

  100% {
    color: #422724;
  }
}

/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------    Footer   -----------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/

#trees {

  z-index: -3;
  position: fixed;
  bottom: 44px;
  right: 0;

}

footer {
  background-color: #d7d0cc;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style-type: none;
  /*remove the bulit*/
  padding: 10px 0;
  margin: 0px 60px 0px 60px;
  display: flex;
}

footer li a {
  margin: 0px 21px 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #9a887e;
  text-decoration: none;
}

footer li a:visited {
  color: #9a887e;
}

footer li a:hover {
  /*background-color: #fcdf03;*/
  color: #422724;
  text-decoration: none;
  border-bottom: 3px solid #422724;
}

footer ul p {
  color: #9a887e;
  margin: 0 22px 0 0;
}

footer ul div {
  color: #9a887e;
  margin: 2px 0 0 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

footer ul img {
  width: 17px;
  margin: 0 10px 0 0;
}

.pushright {
  margin-right: auto;
}

.pushleft {
  margin-left: auto;
}

/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------    about page   -------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/

.wrapper {
  width: 60%;
  margin: 5em auto 4em auto;
  /* padding: 100px 0; */
  display: flex;
}

.aleft {
  flex-basis: 67%;
  margin-right: 5%;
}

.aright {
  flex-basis: 23%;
}

/*  --- map gallery ---*/

.gallery-img {
  display: none;
  /*  first of all dont display ---*/
  width: 100%;
  border: 0;
}

.active {
  display: block;
}

iframe {
  height: 394px;
}

.image-gallery-btn {
  cursor: pointer;
}

.prev {
  margin-right: 22px;
  /*  space between buttons---*/
}

/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------   contact   ------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/

.oneline {
  width: 28%;
  /*קובע את רוחב הטופס*/
  margin: 5em auto 1em auto;
}

.oneline form {
  margin: -4em 0 0 0;
}

#identify {}

#identify,
input,
textarea {
  font-family: "Mulish", sans-serif;
  height: 30px;
  font-size: 18px;
  padding: 0 8px;
  width: 100%;
  border: 0;
}

textarea {
  height: 90px;
  padding: 8px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(165, 165, 165);
}

fieldset {
  text-decoration: none;
  border: 0px solid black;
  margin: 0 0 0 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;
}

select {
  color: rgb(156, 156, 156);
  color: #422724;
}

/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------   about & Contact   ----------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/

button {
  margin: 25px 0 0 0;
  width: 7rem;
  padding: 0.3rem 0;
  font-size: 18px;
  background-color: #bdbdbd;
  color: #422724;
  border: none;
}

button:hover {
  background-color: #fcdf03;
}

.sumbitBtn:disabled,
.image-gallery-btn:disabled {
  color: #9b9b9b;
  background-color: #d7d0cc;
  cursor: not-allowed;
}

/*                                                                                                 
                                                                                                              
                                                                                                              
                                                                          ,                 ..                
                                                                         BBBU               BBB7              
                                                                        BBBBBBO.          .BBBBBBS            
                                                                      rBBBBBBBBBS        1BBBBBBBBB7          
                                                                    ,BBBBBBBBBBBBB     rBBBBBBBBBBBBU         
                                                                  :BBBBBBBBBBBBBBBY  vBBBBBBBBBBBBBBB,        
                                                               :BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBq        
                                                               .rSBBBBBBBBBBBBBBBBB:XBBBBBBBBBBBBBBBBP        
                                                                    LBBBBBBBBBBBBBJ   .FBBBBBBBBBBBBB.        
                                                                      iBBBBBBBBBBB       UBBBBBBBBBBP         
                                                                        BBBBBBBBB         :BBBBBBBB8          
                                                                        BBBBBBBM           BBBBBBB2           
                                                                       iBBBBBBL           SBBBBBB:            
                                                                      SBBBBBM            BBBBBBX              
                                                                      BBBBB:            :BBBBM.               
                                                                      ,1J.               i1v                  
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                    NB                                        
                                                                   MBBBB5                                     
                                                                   BBBBBB7                                    
                                                                     .BBB                                     
                                                                     uBB                                      
                                                                    BBBY                                      
                                                                   SBBB:                                      
                                                                   BBBB:                                      
                                                                   BBBB.                                      
                      7BM                          :BB             BBBBi                                      
                      BBBBBBBBBBBBBBBBBBBB5        MBBBBBBBX.      BBBBBBBBBBBBBBBBBBBBBB7                    
                      BBBBBBBBBBBBBBBBBBBBBB:      BBBBBBBBBBi     BBBBBBBBBBBBBBBBBBBBBBB:                   
                      BBBBBBBBBBBBBBBBBBBBBBB      MBBBBBBBBBB     BBBBBBBBBBBBBBBBBBBBBBBq                   
                      7BBBBBBBBBBBBBBBBBBBBBB,     :BBBBBBBBBB.    :BBBBBBBBBBBBBBBBBBBBBBB                   
                        iBBMYuUUUUUUUUUuUqBBBi      .LUUjUGBBB       iYUUUUUUUUUUUUUj2BBBBB                   
                        7BB                BBL             7BB                         :BBB,                  
                       .BBi                BBF             YBB                          uBB:                  
                       MBB                 BBO             BBP                          ,BB:                  
                       BBB                 BBB             1E                           jBB                   
                       BBBk                BBB                                         iBBi                   
                       1BBB1               BBB                                       7BBB:                    
                        BBBBE              BBB                                   .uBBBBU                      
                     iB8BBBBBk             BBB.                                UBBBBBr                        
                     OBBBBBBBB             BBBi                              LBBBBBL                          
                     BBBBBBBBB             BBBL                             kBBBBB.                           
                    iBBBBBBBB:             BBB                              BBBBB.                            
                    JBBMMMBX.              B0                               rBBB.                             
                                                                                                              
                                                                       .BBB7   MBBi                           
                                                                       OBBBB  BBBBB                           
                                                                        EBBi  .OBB:                           
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
           ::                            :i                             7:           ir                       
          ,BBY::::::::::::::::          .BBj:::::::::::::::.          7BBr         :BBB                       
          jBBBBBBBBBBBBBBBBBBBBBJ       LBBBBBBBBBBBBBBBBBBBBN       rBBBi        :BBBBBr                     
          UBBBBBBBBBBBBBBBBBBBBBBZ      YBBBBBBBBBBBBBBBBBBBBBB      BBBBBE       BBBBBBBBi                   
          rBBBBBBBBBBBBBBBBBBBBBBB      iBBBBBBBBBBBBBBBBBBBBBBY     BBBBBBBj     uBBBBBBBB:                  
           BBBBBBBBBBBBBBBBBBBBBBB.      MBBBBBBBBBBBBBBBBBBBBB8     iBBBBBBBBi    iBBBBBBBB                  
             .................iBBB.        OBB .............7BBB      7BBBBBBBBB    BBBBBBBG                  
                               ,BB.       :BB                JBB        5BBBBBBBBY;BB7 OBBB                   
                               rBB,       BBX                UBB         BBBBBBBBBBB    ii                    
                               2BB,      rBB:                XBB       LBB2iBBBBBBBBN                         
                               GBB,      UBBY                XBB.     jBBB   NBBBBBBBBq                       
                               BBB,      vBBB,               XBB:    .BBBB1   .BBBBBBBBBL                     
                               BBB,       BBBBi              XBB7    2BBBBBk    7BBBBBBBBB.                   
                               BBB,       YBBBBr             XBBU    ,BBBBBBB     kBBBBBBBB:                  
                              :BBB,     BBBBBBBB.            XBBE     uBBBBBBB,    .BBBBBBBB                  
                              vBBB:    iBBBBBBBBi            XBBB      1BBBBBBB      iBBBBBB                  
                              0BBB     8BBBBBBBB             NBBB       BBBBBBB,       UBBBB                  
                              BBB      BBBBBBBBi             BBB     BBBBBBBBBY         BBB.                  
                              :7       U7rrr7:               ,v      Sui:,,.           .B0                    
                                               ........,.                      ..   .                         
                                              5BBBBBBBBBB             .BBBBBBBBBB rBBBB                       
                                              iBM88888OBF              BM888888MG 1BBBB                       
                                                                                    :.                        
                                                                                    :.                        
                                                                                  XBBBB                       
                                                                                  7BBBB                       
                                                                                    .                         
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                     2B              Mj              iB.              M1                                      
                    .BBBPqN2i       FBBOXN0qv        BBBNPNk7        UBBMXNNNNNNNNNNkY:                       
                    iBBBBBBBBB;     GBBBBBBBBB,      BBBBBBBBBM      ZBBBBBBBBBBBBBBBBBBB,                    
                    :BBBBBBBBBB.    GBBBBBBBBBB      BBBBBBBBBB8     EBBBBBBBBBBBBBBBBBBBBL                   
                     BBBBBBBBBB2    vBBBBBBBBBB      BBBBBBBBBBB     rBBBBBBBBBBBBBBBBBBBBB.                  
                     :BBBBBBBBB5     uBBBBBBBBB       MBBBBBBBBB      :BBBBBBBBBBBBBBBBBBBBE                  
                            :BBj            FBB              SBB      7BB             ,UBBBB                  
                             BBi            iBB              iBF     7BB0  .:::          BBB                  
                            ;BB       UZS.  uBB              0B1   .UBBBBBBBBBBB0        LBB                  
                            YBq      BBBBB  EBB              BBB   BBBBBBBBBBBBBB.       ,BB.                 
                                     JBBB8  BBB              BBB   OBBBBBBBBBBBBM        ,BB.                 
                                            BBB              BBB:    BBUirrrrri.         ,BB.                 
                                            BBB              OBBP    r                    BB.                 
                                           ,BBB      jL7777riBBBB     irrrrrrrrr77777777iUBB,                 
                                           7BBB     iBBBBBBBBBBBB    2BBBBBBBBBBBBBBBBBBBBBB                  
                                           kBBB.    0BBBBBBBBBBBB    BBBBBBBBBBBBBBBBBBBBBBr                  
                                           BBBB     BBBBBBBBBBBBM   7BBBBBBBBBBBBBBBBBBBBBB                   
                                           BBJ     ;BBBBBBBBBBBBi   BBBBBBBBBBBBBBBBBBBBBB.                   
                                                    .               .                                         
                                                                         77rrrrrr7Y                           
                                                                         BBBBBBBBBB:                          
                                                                         ;i,.BB,,i7                           
                                                                            iBB;                              
                                                                            BBBB                              
                                                                           7BBBB2                             
                                                                            PBB0                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                     :BB                            BB.              ,BBi      vB8Fr.                         
                     MBBBBBBBBBBBBBBBBBBBBBBB:     iBBBBBBBGi       iBBBBBGL   BBBBBBBP.                      
                     BBBBBBBBBBBBBBBBBBBBBBBBB     LBBBBBBBBBB      BBBBBBBBB  FBBBBBBBBO                     
                     MBBBBBBBBBBBBBBBBBBBBBBBB:    rBBBBBBBBBBv     BBBBBBBBB7 :BBBBBBBBBB                    
                     iBBBBBBBBBBBBBBBBBBBBBBBB      BBBBBBBBBBM     rBBBBBBBBBBBBBBBBBBBBBB                   
                      .UF11111122211111ULBBB:        LF12FNBBBP       7FBBBBBBBkUF0BBBBBBBB,                  
                                         BB8                BB:        rBBBr         :BBBBB1                  
                                         BBB                BB        BBBJ             rBBB8                  
                              2BBB.      BBB     rBBBY      BB.      BBBv               YBBE                  
                              BBBBB      BBB     BBBBB     .BB7     .BBB                 BBP                  
                              :qZu       BBB     ,MBB:      BBB     :BBB                 BBY                  
                                         BBB                BBB     .BBB                ,BB.                  
                              BBBBr      BBB                BBB:     BBBL               uBB                   
                              BBBBN      BBB       LBBBBBBBMBBB1     BBBZ   8BBBBBBBBBBMBBE                   
                               Lj:       BBB       BBBBBBBBBBBBq     BBBZ   BBBBBBBBBBBBBB:                   
                                        .BBB       BBBBBBBBBBBBj    :BBBF  JBBBBBBBBBBBBBB                    
                                        .BBB.     UBBBBBBBBBBBB.    BBBB   BBBBBBBBBBBBBB5                    
                                        ,BBB.     ZBOGZZZZZG8BM     BBL   ,BBM88MMBBBBBBB                     
                                        :BBB,                                                                 
                                        iBBB:      BBBBBBBBBB:               7BBP                             
                                        iBBBi      BBBBBBBBBBr              .BBBBZ                            
                                        7BBBr          BB                    YBBE                             
                                        7BBBY         jBBB                                                    
                                        uBBBJ         BBBB7                                                   
                                        qBBS         ,BBBBS                                                   
                                        :O:           .2Fi                                                    
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                 vBBBr              UBBB.                                                                     
               vBBBBBM            1BBBBBr                                                                     
             .BBBBBBq           :BBBBBBr                                                                      
            jBBBBBB5           NBBBBBB:                                                                       
           MBBBBBBB:          BBBBBBBB                                                                        
          BBBBBBBBBB         BBBBBBBBBZ                                                                       
         PBBBBBBBBBBBU      BBBBBBBBBBBB7                                                                     
         BBBBBBBBBBBBBBMr  .BBBBBBBBBBBBBBZi                                                                  
        iBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBS                                                               
        .BBBBBBBBBBBBBBBBM,;BBBBBBBBBBBBBBBBZi                                                                
         ZBBBBBBBBBBBBBP    BBBBBBBBBBBBBBJ                                                                   
          GBBBBBBBBBBM       BBBBBBBBBBB5                                                                     
           rBBBBBBBBi         UBBBBBBBB.                                                                      
             vBBBBB             2BBBBZ                                                                        
               ,8B                iBB                                                                         
                      
               

מְלֹא כָל הָאָרֶץ כְּבוֹדוֹ“ (ישעיהו ו ג)
*/