* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to Ttop, rgb(117, 132, 132), white);
  background-color: #e5e1de;
  margin: 0px;
  /*font-family: font-family: "Mulish", sans-serif;*/

  font-family: "Mulish", sans-serif;

  /*font-family: sans-serif; --- THE ORIGINAL FONT-- */
  /* height: 100vh;*/
}

h1,
h2,
h3,
h4,
p,
div {
  /*  border: 1px solid black; */
  margin: 0;
  color: #422724;
}

p {
  font-family: "Mulish", sans-serif;
  /* line-height: 32px;*/
  margin: 0;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
}

h3 {
  font-size: 18px;
}

section {
  margin: 0px 60px 0 60px;
  /*   flex-basis: 57%;*/
}

/*  -------------  navigation links  -------------   */

nav ul {
  list-style-type: none;
  text-align: right;
  display: flex;
  margin: 11px 60px 0 60px;
  padding: 0;
}

nav li {
  /* border: #00b7ff 2px dotted;*/
  display: inline-block;
  margin: 0px 0px 0px 0px; /*רווח בין הכפתורים/*/
  margin: 0 0 0 15px;
}

nav a {
  display: block;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

nav {
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* */
nav a:link,
nav a:visited {
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #422724; /*חייב שוב צבע כי הוא ויזיטד*/
}
nav a span {
  background-color: #fcdf03;
}

nav a:hover span {
  background-color: #e5e1de;
  text-decoration: none;
  border-bottom: 3px solid #422724;
}

nav h3 {
  display: inline;
  margin: 0 0 0 0;
}

/*   ------------- Text & Fonts -------------   
/* 
h2 {
  color: #686868;
  font-size: 14px;
}
*/

/*   ------------- Main Page -------------   */

.card {
  background-color: #e5e1de;

  align-items: center;
  /*border-radius: 10px;*/

  /* flex-direction: column;*/
  display: flex;
  justify-content: center;
  margin: 20vh 20vw;
  padding: 0 0;

  transition: transform 0.6s, background-color 0.1s;
}
.card:visited {
}

.card:link {
}

.card:hover {
  transform: scale(1.05);
}

.card:active body {
  background-color: #00ff37;
  color: #0d39ff;
}

.card:active .card {
  background-color: #00ff37;
  color: #0d39ff;
}

/*
.nav-item {
  align-self: flex-end;
  color: #3ded69;
}
*/
.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  /*border-radius: 50%;*/
  /*height: 180px;*/
  width: 420px;
  margin: -10px -55px 0 0;
}

#index-subline {
  font-size: 29px;
  font-weight: 700;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.ul_links {
  padding: 10px 0 0 0;
  list-style: none;
  /*font-size: 14px;*/
}
/*
.ul_links  a {
  background-color: #ff5e00;
}*/

.ul_links li span {
  background-color: #d7d0cc;
}

.ul_links li {
  padding-bottom: 15px;
  font-size: 18px;
  /* display:inline-block;*/
}

.ul_links {
  display: inline-block;
  min-width: 160px;
  margin: 0;
  /* display:inline-block;*/
}

.ul i {
  display: block;
  margin: 0;
  /* display:inline-block;*/
}

.fa-brands {
  float: left;
  font-size: 22px;
  color: #422724;
  margin: 0px 12px 0px 0px;
}

.card_links:link {
  color: #422724;
  color: #026999;
  text-decoration: none;
  padding-bottom: 25px;
  font-weight: 600;
}

.card_links:visited {
  color: #422724;
}

.card_links:hover .outsidelinks {
  background-color: #fcdf03;
}

.card:active h1 {
  animation-name: cardanim2;
  animation-duration: 0.5s;
}

@keyframes cardanim2 {
  0% {
    color: #422724;
  }
  40% {
    color: #a00c0c;
  }
  100% {
    color: #422724;
  }
}

/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------    Footer   -----------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
/*  ----------------------------------------------------------------------------------------------------  ;*/
footer {
  background-color: #d7d0cc;
  padding: 0;
  margin: 0;
}

footer ul {
  list-style-type: none;

  padding: 10px 0;
  margin: 0px 60px 0px 60px;
  display: flex;
}

footer li a {
  margin: 0px 21px 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #9a887e;
  text-decoration: none;
}

footer li a:visited {
  color: #9a887e;
}

footer li a:hover {
  /*background-color: #fcdf03;*/
  color: #422724;
  text-decoration: none;
  border-bottom: 3px solid #422724;
}

footer ul p {
  color: #9a887e;
  margin: 0 22px 0 0;
}

footer ul div {
  color: #9a887e;
  margin: 0 0 0 0;
}

footer ul img {
  width: 17px;
  margin: 0 10px 0 0;
}

.pushright {
  margin-right: auto;
}
.pushleft {
  margin-left: auto;
}

/*  --------    CONTACT  PaGe--------------  ;*/
/*
section {
  flex-basis: 57%;
  margin-right: 10%;
}
aside {
  flex-basis: 33%;
}
*/
p[for="identify"],
[for="message"] {
  margin: 2rem 0 0 0;
}

fieldset {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 0 2rem 0;
  background-color: rgb(255, 255, 255);
}

legend {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

select {
  font-size: 1rem;
}

button {
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  background-color: rgb(0, 155, 39);
  color: white;
  border-radius: 4px;
  border: none;
}

button:hover {
  background-color: rgb(2, 192, 49);
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  display: block;
  margin-bottom: 1rem;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 4px;

  border: 1px solid black;
}
textarea {
  height: 7rem;
  padding: 0.2rem 0.2rem 1rem 0.5rem;
}

/*  --- map gallery ---*/

.gallery-img {
  display: none; /*  first of all dont display ---*/
  width: 100%;
  height: 300px;
  border: 0;
}

.active {
  display: block;
}

.image-gallery {
  /*width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;*/
  width: 400px;
}

.image-gallery-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery-btn {
  background-color: #00ff37;
  color: #0d39ff;
  padding: 11px 0 11px 0;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}

.prev {
  margin-right: 22px; /*  space between ---*/
}

.image-gallery-btn:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}

/*                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                          ,                 ..                
                                                                         BBBU               BBB7              
                                                                        BBBBBBO.          .BBBBBBS            
                                                                      rBBBBBBBBBS        1BBBBBBBBB7          
                                                                    ,BBBBBBBBBBBBB     rBBBBBBBBBBBBU         
                                                                  :BBBBBBBBBBBBBBBY  vBBBBBBBBBBBBBBB,        
                                                               :BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBq        
                                                               .rSBBBBBBBBBBBBBBBBB:XBBBBBBBBBBBBBBBBP        
                                                                    LBBBBBBBBBBBBBJ   .FBBBBBBBBBBBBB.        
                                                                      iBBBBBBBBBBB       UBBBBBBBBBBP         
                                                                        BBBBBBBBB         :BBBBBBBB8          
                                                                        BBBBBBBM           BBBBBBB2           
                                                                       iBBBBBBL           SBBBBBB:            
                                                                      SBBBBBM            BBBBBBX              
                                                                      BBBBB:            :BBBBM.               
                                                                      ,1J.               i1v                  
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                    NB                                        
                                                                   MBBBB5                                     
                                                                   BBBBBB7                                    
                                                                     .BBB                                     
                                                                     uBB                                      
                                                                    BBBY                                      
                                                                   SBBB:                                      
                                                                   BBBB:                                      
                                                                   BBBB.                                      
                      7BM                          :BB             BBBBi                                      
                      BBBBBBBBBBBBBBBBBBBB5        MBBBBBBBX.      BBBBBBBBBBBBBBBBBBBBBB7                    
                      BBBBBBBBBBBBBBBBBBBBBB:      BBBBBBBBBBi     BBBBBBBBBBBBBBBBBBBBBBB:                   
                      BBBBBBBBBBBBBBBBBBBBBBB      MBBBBBBBBBB     BBBBBBBBBBBBBBBBBBBBBBBq                   
                      7BBBBBBBBBBBBBBBBBBBBBB,     :BBBBBBBBBB.    :BBBBBBBBBBBBBBBBBBBBBBB                   
                        iBBMYuUUUUUUUUUuUqBBBi      .LUUjUGBBB       iYUUUUUUUUUUUUUj2BBBBB                   
                        7BB                BBL             7BB                         :BBB,                  
                       .BBi                BBF             YBB                          uBB:                  
                       MBB                 BBO             BBP                          ,BB:                  
                       BBB                 BBB             1E                           jBB                   
                       BBBk                BBB                                         iBBi                   
                       1BBB1               BBB                                       7BBB:                    
                        BBBBE              BBB                                   .uBBBBU                      
                     iB8BBBBBk             BBB.                                UBBBBBr                        
                     OBBBBBBBB             BBBi                              LBBBBBL                          
                     BBBBBBBBB             BBBL                             kBBBBB.                           
                    iBBBBBBBB:             BBB                              BBBBB.                            
                    JBBMMMBX.              B0                               rBBB.                             
                                                                                                              
                                                                       .BBB7   MBBi                           
                                                                       OBBBB  BBBBB                           
                                                                        EBBi  .OBB:                           
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
           ::                            :i                             7:           ir                       
          ,BBY::::::::::::::::          .BBj:::::::::::::::.          7BBr         :BBB                       
          jBBBBBBBBBBBBBBBBBBBBBJ       LBBBBBBBBBBBBBBBBBBBBN       rBBBi        :BBBBBr                     
          UBBBBBBBBBBBBBBBBBBBBBBZ      YBBBBBBBBBBBBBBBBBBBBBB      BBBBBE       BBBBBBBBi                   
          rBBBBBBBBBBBBBBBBBBBBBBB      iBBBBBBBBBBBBBBBBBBBBBBY     BBBBBBBj     uBBBBBBBB:                  
           BBBBBBBBBBBBBBBBBBBBBBB.      MBBBBBBBBBBBBBBBBBBBBB8     iBBBBBBBBi    iBBBBBBBB                  
             .................iBBB.        OBB .............7BBB      7BBBBBBBBB    BBBBBBBG                  
                               ,BB.       :BB                JBB        5BBBBBBBBY;BB7 OBBB                   
                               rBB,       BBX                UBB         BBBBBBBBBBB    ii                    
                               2BB,      rBB:                XBB       LBB2iBBBBBBBBN                         
                               GBB,      UBBY                XBB.     jBBB   NBBBBBBBBq                       
                               BBB,      vBBB,               XBB:    .BBBB1   .BBBBBBBBBL                     
                               BBB,       BBBBi              XBB7    2BBBBBk    7BBBBBBBBB.                   
                               BBB,       YBBBBr             XBBU    ,BBBBBBB     kBBBBBBBB:                  
                              :BBB,     BBBBBBBB.            XBBE     uBBBBBBB,    .BBBBBBBB                  
                              vBBB:    iBBBBBBBBi            XBBB      1BBBBBBB      iBBBBBB                  
                              0BBB     8BBBBBBBB             NBBB       BBBBBBB,       UBBBB                  
                              BBB      BBBBBBBBi             BBB     BBBBBBBBBY         BBB.                  
                              :7       U7rrr7:               ,v      Sui:,,.           .B0                    
                                               ........,.                      ..   .                         
                                              5BBBBBBBBBB             .BBBBBBBBBB rBBBB                       
                                              iBM88888OBF              BM888888MG 1BBBB                       
                                                                                    :.                        
                                                                                    :.                        
                                                                                  XBBBB                       
                                                                                  7BBBB                       
                                                                                    .                         
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                     2B              Mj              iB.              M1                                      
                    .BBBPqN2i       FBBOXN0qv        BBBNPNk7        UBBMXNNNNNNNNNNkY:                       
                    iBBBBBBBBB;     GBBBBBBBBB,      BBBBBBBBBM      ZBBBBBBBBBBBBBBBBBBB,                    
                    :BBBBBBBBBB.    GBBBBBBBBBB      BBBBBBBBBB8     EBBBBBBBBBBBBBBBBBBBBL                   
                     BBBBBBBBBB2    vBBBBBBBBBB      BBBBBBBBBBB     rBBBBBBBBBBBBBBBBBBBBB.                  
                     :BBBBBBBBB5     uBBBBBBBBB       MBBBBBBBBB      :BBBBBBBBBBBBBBBBBBBBE                  
                            :BBj            FBB              SBB      7BB             ,UBBBB                  
                             BBi            iBB              iBF     7BB0  .:::          BBB                  
                            ;BB       UZS.  uBB              0B1   .UBBBBBBBBBBB0        LBB                  
                            YBq      BBBBB  EBB              BBB   BBBBBBBBBBBBBB.       ,BB.                 
                                     JBBB8  BBB              BBB   OBBBBBBBBBBBBM        ,BB.                 
                                            BBB              BBB:    BBUirrrrri.         ,BB.                 
                                            BBB              OBBP    r                    BB.                 
                                           ,BBB      jL7777riBBBB     irrrrrrrrr77777777iUBB,                 
                                           7BBB     iBBBBBBBBBBBB    2BBBBBBBBBBBBBBBBBBBBBB                  
                                           kBBB.    0BBBBBBBBBBBB    BBBBBBBBBBBBBBBBBBBBBBr                  
                                           BBBB     BBBBBBBBBBBBM   7BBBBBBBBBBBBBBBBBBBBBB                   
                                           BBJ     ;BBBBBBBBBBBBi   BBBBBBBBBBBBBBBBBBBBBB.                   
                                                    .               .                                         
                                                                         77rrrrrr7Y                           
                                                                         BBBBBBBBBB:                          
                                                                         ;i,.BB,,i7                           
                                                                            iBB;                              
                                                                            BBBB                              
                                                                           7BBBB2                             
                                                                            PBB0                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                     :BB                            BB.              ,BBi      vB8Fr.                         
                     MBBBBBBBBBBBBBBBBBBBBBBB:     iBBBBBBBGi       iBBBBBGL   BBBBBBBP.                      
                     BBBBBBBBBBBBBBBBBBBBBBBBB     LBBBBBBBBBB      BBBBBBBBB  FBBBBBBBBO                     
                     MBBBBBBBBBBBBBBBBBBBBBBBB:    rBBBBBBBBBBv     BBBBBBBBB7 :BBBBBBBBBB                    
                     iBBBBBBBBBBBBBBBBBBBBBBBB      BBBBBBBBBBM     rBBBBBBBBBBBBBBBBBBBBBB                   
                      .UF11111122211111ULBBB:        LF12FNBBBP       7FBBBBBBBkUF0BBBBBBBB,                  
                                         BB8                BB:        rBBBr         :BBBBB1                  
                                         BBB                BB        BBBJ             rBBB8                  
                              2BBB.      BBB     rBBBY      BB.      BBBv               YBBE                  
                              BBBBB      BBB     BBBBB     .BB7     .BBB                 BBP                  
                              :qZu       BBB     ,MBB:      BBB     :BBB                 BBY                  
                                         BBB                BBB     .BBB                ,BB.                  
                              BBBBr      BBB                BBB:     BBBL               uBB                   
                              BBBBN      BBB       LBBBBBBBMBBB1     BBBZ   8BBBBBBBBBBMBBE                   
                               Lj:       BBB       BBBBBBBBBBBBq     BBBZ   BBBBBBBBBBBBBB:                   
                                        .BBB       BBBBBBBBBBBBj    :BBBF  JBBBBBBBBBBBBBB                    
                                        .BBB.     UBBBBBBBBBBBB.    BBBB   BBBBBBBBBBBBBB5                    
                                        ,BBB.     ZBOGZZZZZG8BM     BBL   ,BBM88MMBBBBBBB                     
                                        :BBB,                                                                 
                                        iBBB:      BBBBBBBBBB:               7BBP                             
                                        iBBBi      BBBBBBBBBBr              .BBBBZ                            
                                        7BBBr          BB                    YBBE                             
                                        7BBBY         jBBB                                                    
                                        uBBBJ         BBBB7                                                   
                                        qBBS         ,BBBBS                                                   
                                        :O:           .2Fi                                                    
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                                                                                                              
                 vBBBr              UBBB.                                                                     
               vBBBBBM            1BBBBBr                                                                     
             .BBBBBBq           :BBBBBBr                                                                      
            jBBBBBB5           NBBBBBB:                                                                       
           MBBBBBBB:          BBBBBBBB                                                                        
          BBBBBBBBBB         BBBBBBBBBZ                                                                       
         PBBBBBBBBBBBU      BBBBBBBBBBBB7                                                                     
         BBBBBBBBBBBBBBMr  .BBBBBBBBBBBBBBZi                                                                  
        iBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBS                                                               
        .BBBBBBBBBBBBBBBBM,;BBBBBBBBBBBBBBBBZi                                                                
         ZBBBBBBBBBBBBBP    BBBBBBBBBBBBBBJ                                                                   
          GBBBBBBBBBBM       BBBBBBBBBBB5                                                                     
           rBBBBBBBBi         UBBBBBBBB.                                                                      
             vBBBBB             2BBBBZ                                                                        
               ,8B                iBB                                                                         
                      
               

מְלֹא כָל הָאָרֶץ כְּבוֹדוֹ“ (ישעיהו ו ג)
*/
